@import "bootstrap";

.sidebar {
  height: calc(100vh - 56px);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.1);

  .nav-link {
    color: var(--bs-gray-700);
    font-weight: 500;
    font-size: 0.875rem;

    &:hover {
      color: var(--bs-primary);
    }
  }
}
